body {
    background: linear-gradient(to right, #D5F4FF, #D5F4FF); /* Blue to white gradient */
    scroll-behavior: smooth;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}


.box {
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    min-height: 600px;
    transition: transform 0.2s ease-in-out;
}

.box:hover {
    transform: translateY(-3px);
}

.form-container {
    border-radius: 15px;
}

.separator {
    margin: 25px 0;
    border-top: 3px solid #ccc;
}

.donation-box img {
    width: 100%;
    height: 220px;
    border-radius: 10px;
    margin-bottom: 15px;
    object-fit: cover;
}

